<% provide(:title, current_user.name) %>
<% if current_user.role? :learner %>
<div class="cl-header cl-header-inner">
  <h3 class="alt">Læringsrum</h3>
</div>

  <% current_user.enrollments.each do |enrollment| %>
  <% if enrollment.status == 'enrolled' %>    
    <%= link_to [enrollment.classroom, enrollment.classroom.pages.where("title = 'Forside'").first] do %> 
      <div class="classrooms thumb L">
	<div class="ribbon-wrapper">
	  <div class="ribbon" style="background-color: <%= enrollment.classroom.course.color %>"><%= enrollment.classroom.online_date.strftime("%d %b %y") %></div>
	</div>
	<div class="thumb-inner L">
	  <h3 class="alt"><div><%= enrollment.classroom.course.title %></div></h3>
	  <h4 class="alt">Du er tilmeldt dette læringsrum</h4>
	</div>
      </div>  
    <% end %>
  <% else %>
    <%= link_to edit_enrollment_path( enrollment ) do %> 
      <div class="classrooms thumb L">
	<div class="ribbon-wrapper">
	  <div class="ribbon" style="background-color: #878787">Invited</div>
	</div>
	<div class="thumb-inner L">
	  <h3 class="alt"><div><%= enrollment.course.title %></div></h3>
	  <h4 class="alt">Du er tilmeldt dette læringsrum</h4>
	</div>
      </div>
    <% end %>
  <% end %>
<% end %>
<% end %>

  <div class="clear"></div>    

<% if current_user.role? :company %>
<div class="cl-header cl-header-inner">
  <h3 class="alt">Medarbejdere</h3>
</div>
<div class="row">
  <div class="span2">  
    <%= link_to new_learner_path do %>
    <button class="btn btn-success btn-mini pad-button"><i class="icon-white icon-plus-sign"></i></button>
    <% end %>
  </div>
  <div class="span10">
    <% current_user.learners.each do |learner| %>
    <%= image_tag( learner.avatar.url( :medium ), :class => "img-circle" )  %>
    <h5><%= learner.name %></h5>
    <% end %>
  </div>
</div>
  <div class="clear"></div>
  <% end %> 
