<% provide(:title, "Tilføj learner") %>

<%= form_for( @learner, :url => { :action => 'create' }, :html => { :method => "post" } ) do |f| %>

<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :email %>
<%= f.text_field :email %>

<div><%= f.submit "OK", class: 'btn' %></div>


<% end %>
